@charset "utf-8";
/*
    CSS Document
    Designed by WEB123.VN
    Công ty CP Truyền thông Phú An Bình
    Contact information:
        Tel:     84 - 4.667 41255
        Hotline: 84-904 921 540
        EmaiL:   sale@web123.vn
*/

@font-face {
    font-family: 'Dinhhon';
    src: url('../fonts/UVNDINHHON.TTF');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadPro-Regular.otf');
}

h1,h2,h3,h4,h5,p{margin:0;padding:0;font-weight: inherit;font-size: inherit;}
#wrap{background: #F5F5F5 url(../template/images/bggrad.png) repeat-x fixed;}
#wrap-content-auto{    width: 1020px; margin: 0 auto; background: #fff; padding: 0 10px;}
#wrap-content{}
img{border:0;}
body{margin:0;padding:0;overflow-x:hidden;font-family: Arial;}
.hidden{display:none;}
.cf_content{float:left;width:100%;}
.content_auto{width:1000px;margin:0 auto;}
#alert_doing_form2{display:none;background:url(../template/global/white_transparent.png) top left repeat;position:fixed;height:100%;width:100%;z-index:1500;}
#alert_doing_form2 .alertShowing{position:fixed;left:50%;top:50%;width:170px;padding:5px 10px;margin-left:-85px;margin-top:-40px;font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#1B99CC;z-index:2100;background:#ffffff;border:1px solid #999999;}
#over_dark_transparent{display:none;background:url(../template/global/dark_transparent.png) top left repeat;position:fixed;height:100%;width:100%;z-index:1000;}

#function{background:url("../admincp/media/edit_bg.png") #eee 0 4px no-repeat;float:left;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:5px 0;}
#function .func_content{display:block;padding:6px 0 6px 50px;}
#function a{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#333;margin:3px 5px;text-decoration:none;}
#function a:hover{color:#000000;}
#function .submit{font-size:12px;color:#ffffff;padding:5px 20px;cursor:pointer;}
#function .close{font-size:12px;color:#444444;padding:5px 20px;cursor:pointer;margin-left:15px;}
#function .btn_bar{float:right;margin:5px 3px 0 0;}

.advFlashBehind{position:relative;display:inline-block;}
.advLinkOver{position:absolute;left:0;top:0;width:100%;height:100%;text-decoration:none;}

.input_style{display: inline-block;position:relative;margin:0;padding:0;}
.input_style input{border:1px solid #ddd;color:#333;font-family: inherit;color:inherit;outline:none;height:15px;line-height:15px;padding:5px 6px 5px 6px;margin:0;width:250px;}
.input_style select{border:1px solid #ddd;color:#333;font-family: inherit;color:inherit;outline:none;height:15px;line-height:15px;padding:5px 6px 5px 6px;margin:0;width:250px;}
.input_style textarea{border:1px solid #ddd;color:#333;font-family: inherit;color:inherit;outline:none;height:120px;line-height:15px;padding:5px 6px 5px 6px;margin:0;width:250px;}
.input_style .warning{position: absolute;left:0;bottom:-17px;background:#fff;float:left;border:1px solid #E04006;font-size: 11px;line-height: 12px;padding:1px 5px 2px 5px;display: none;white-space: nowrap;z-index:500;}
.input_style .warning .warning-arrow{background:url(../template/global/warning-arrow.png) 0 0 no-repeat;position: absolute;top:-5px;left:4px;float:left;width:8px;height:5px;}

.wrap-tag-container{float: right;margin-left: 50000px;margin-top: -80000px;margin-right: 3000px;}

.pagetext{}
.pagetext table{border-collapse:collapse;}
.pagetext td{border-color:#CCCCCC;vertical-align:top;}
.pagetext ul{margin:0 0 0 12px;padding:0;}
.pagetext li{line-height:21px;}
.pagetext img{margin-top:2px;margin-bottom:2px;}
.pagetext p{margin:15px 0;}
.pagetext a{text-decoration: inherit;color:inherit;}

.pagetext h1,.pagetext h2,.pagetext h3,.pagetext h4,.pagetext h5{margin:15px 0;font-weight: bold;}
.pagetext .bullet1{background:url(../template/global/bullet1.png) 0 4px no-repeat;}
.pagetext .bullet2{background:url(../template/global/bullet2.png) 0 4px no-repeat;}
.pagetext .bullet3{background:url(../template/global/bullet3.png) 0 4px no-repeat;}
.pagetext .heading1{text-transform:uppercase;font-size:14px;margin:0 0 8px 0;}

.tagOfPage {float: right;margin-left: 50000px;margin-top: -80000px;margin-right: 3000px;}

.contact-form-container{float:left;width:100%;margin:10px 0 15px 0;font-family: inherit;font-size: inherit;color:inherit;}
.contact-form-container td{}
.contact-form-container .c-col1{padding-top:10px;padding-right:10px;padding-bottom:10px;}
.contact-form-container .c-col2{padding-top:10px;padding-bottom:10px;}
.contact-form-container .submitBtn{background:url(../template/images/send-button-bg.png) 0 0 repeat-x;border:1px solid #E5E5E5;cursor: pointer;color:#fff;font-family: inherit;padding:7px 20px 7px 20px;height:29px;outline:none;}

#wrap-header{float:left;width:100%;position: relative;z-index:1;}

.content-auto{width:1000px;margin:0 auto;}
.wrap-header-auto{margin:0 auto;}
.wrap-header-content{float:left;width:100%;position: relative;}

#wrap-header .logo a{float:left;}

/*#main-menu-container{position: absolute;bottom:4px;right:0;font-size:16px;z-index:2;}
#main-menu-container ul{margin:0;padding:0;list-style: none;}
#main-menu-container li{float:left;padding:0;margin:0;}
#main-menu-container li a{display: block;text-decoration: none;color:#33428A;text-transform: none;padding:8px 19px 8px 19px;margin:0 0 0 10px;line-height:17px;background:#D4D5E6;border-radius:4px;}
#main-menu-container .main-menu-listing{}
#main-menu-container .main-menu-listing-left{display: none;}
#main-menu-container .main-menu-listing-right{display: none;}
#main-menu-container .m-home{}
#main-menu-container .m-home a{}
#main-menu-container li.active a{background: #253881;color:#fff;}
#main-menu-container li a:hover{background: #253881;color:#fff;}*/

#language-bar-container{float:left;width:100%;}
.language-bar-auto{max-width:1300px;min-width:1000px;height:56px;margin:0 auto;background:url(../template/images/language-bg.png) right top no-repeat;}
.language-bar-content{float:left;width:100%;position: relative;}
.language-bar-content ul{margin:0;padding:0;list-style: none;float:right;}
.language-bar-content li{float:left;}
.language-bar-content li a{float:left;text-decoration: none;text-indent: -9999px;width:47px;height:34px;cursor: pointer;margin:11px 23px 0 0;}
.language-bar-content li .korea{background:url(../template/images/kr-flag.png) left top no-repeat;}
.language-bar-content li .english{background:url(../template/images/en-flag.png) left top no-repeat;}
.language-bar-content li .vietnamese{background:url(../template/images/vi-flag.png) left top no-repeat;}

/*.wrap-top-container{float:left;width:100%;margin-top:5px;height:610px;}*/
.middle-adv-container{float:left;width:100%;}
.middle-adv-auto{max-width:1300px;min-width:1000px;margin:0 auto;}
.middle-adv-content{float:left;width:100%;}


#wrap-middle-container{float:left;width:100%;margin:-17px 0 15px 0;}
.wrap-middle-content{float:left;width:100%;}
.wrap-middle-left{float:left;width:665px;}
.wrap-middle-center{float:left;width:100%;}
.wrap-middle-auto{margin:0 auto;}

#wrap-menu-bottom-container{float:left;width:100%;font-size:14px;margin:0 0 10px 0;}
.wrap-menu-bottom-auto{max-width:1300px;min-width:1000px;margin:0 auto;}
.wrap-menu-bottom-listing-left{display: none;}
.wrap-menu-bottom-listing-right{display: none;}
.wrap-menu-bottom-listing{}
.wrap-menu-bottom-listing ul{margin:0;padding:0;list-style: none;}
.wrap-menu-bottom-listing li{background:url(../template/images/m-bototm-space.png) left 2px no-repeat;float:left;padding:0 0 0 10px;margin:0 0 0 10px;}
.wrap-menu-bottom-listing li a{float:left;text-decoration: none;color:#171717;text-transform: uppercase;}
.wrap-menu-bottom-listing .m-b-home{margin:0;padding:0;background:none;}
.wrap-menu-bottom-listing li:hover a{text-decoration: underline;}
.wrap-menu-bottom-listing li.active a{text-decoration: underline;}

.footer-adv-container{float:left;width:100%;}
.footer-adv-auto{width:1000px;margin:0 auto;}
.footer-adv-content{float:left;width:100%;}


#wrap-bottom-container{float:left;width:100%;height:123px;margin:0 0 10px 0;font-size: 12px;}
#wrap-bottom-container a{text-decoration: none;}
.wrap-bottom-auto{margin:0 auto;}
.wrap-bottom-content-left{display: none;}
.wrap-bottom-content-right{display: none;}
.wrap-bottom-content-center{float:left;width:100%;}
#wrap-bottom-container .logo-bottom{display: none;}
#wrap-bottom-container .footer-pagetext{font-size:12px;color:#171717;margin:10px 0 0 0;}
#wrap-bottom-container .footer-pagetext a{}
#wrap-bottom-container .footer-pagetext table{border-collapse: collapse;border-color:#ddd;}
#wrap-bottom-container .footer-pagetext td{border-color:#ddd;vertical-align: top;}

.copy-right-container{float:right;margin-top:-5px;}
.copy-right-container .copyright-content{display: none;}


/*THIS WEB*/
.security-index-bar{float:left;width:100%;font-size: 12px;margin:10px 0 10px 0;}
.security-index-bar-box{padding:0 10px;}
.security-index-bar-fixed{float:left;width:100%;}
.security-index-bar .units{font-weight: bold;}
.security-index-bar .down{background:url(../template/images/down-icon.gif) right 5px no-repeat;padding:0 11px 0 0;color:#ff0000;}
.security-index-bar .up{background:url(../template/images/up-icon.gif) right 2px no-repeat;padding:0 11px 0 0;color:#006600;}
/**CSS search**/
div.story-product-1 {
    width: 805px;
}

h2.search-equal {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

div.story-product-1 div.story-thumb a img {
    width: 300px;
}

div.story-title a:visited, div.story-title a:link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

div.story-title a:hover, div.story-title a:active {
    color:#ff0033;
}

p.message-search {
    display: block;
    width: 805px;
    font-weight: bold;
    font-size: 16px;
    color: #ff3333;
    margin: 15px 0 15px 0 15px;
}

div#deverloper {
    margin-top: 15px;
    border-top: 1px solid #d1d1d1;
}
div#deverloper div.deverloper-auto {
    width: 600px;
    margin: 0 auto;
}
div#deverloper div.deverloper-auto img {
float: left;
}

div#deverloper div.deverloper-auto p {
    margin-top: 10px;
    font-size: 9px;
}

h2.newsArticlesTitleImage {
font-size: 17px;
  font-weight: bold;
  line-height: 19px;
  color: #333;
  margin: 0;
  padding-bottom: 5px;

}

h3.sendmeaqs {
font-size: 20px;
font-weight: bold;
color:#27ae60;
margin-top:10px;
padding-bottom:10px;
background:url(../template/images/dabaco/phongthu.png) repeat-x 0 25px;
}

table#tbl_sendmeaqs td {
padding-bottom: 5px;
}

table#tbl_sendmeaqs td.c-col1 {
font-size: 16px;
font-weight: normal;
font-style: italic;
color:#333;
}

li.sub_menu a{
    text-transform: capitalize;
}

#info-company {
width: 600px;
margin: 15px auto;
font-family: arial, helvetica, sans-serif;
font-size:12px;
padding-right: 20px;
}

#info-company h1 {
font-weight:bold;

}
#commentInput {
    width: 600px;
}
.menu_toggle{
    text-align: center;
    font-size: 15px;
    height: 30px;
    background:#404040;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}
.nav_main{
    position: relative;
}
.nav_main:hover .sub-menu{
    display: block;
}
.sub-menu{
    position: absolute;
    width: 170px;
    top: 40px;
    left: 0;
    padding: 0;
    display: none;
}
.sub-menu li{
    list-style: none;
}
.sub-menu li a{
    display: block;
   height: 35px;
}
.sub-menu li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 35px;
}
ul.sub-menu li a{
    background: #64c261 !important;
    text-indent: 10px;
}