.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.clr {
	clear: both;
}
div#layout-container {
	width: 100%;
	margin:0;
	padding:0;
	font-family: arial,serif;
	background: #F5F5F5 url(../template/images/bggrad.png) repeat-x fixed;
	font-size: 12px;
	color: #6D6E71;
}

div#layout-wrapper {
	width: 995px;
	margin: 0 auto;
	background: #FFF;
	padding: 0 10px 0 10px;
}
div#layout-top {
	height: 40px;
	width: 995px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 10px;
}

div#layout-top div.top-menu a:link, div#layout-top div.top-menu a:visited {
	color: #A7A9AC;
	font-size: 10px;
	text-decoration: none;
	padding: 0 10px;
}

div#layout-top div.top-menu a:hover {
	color: #000;
	text-decoration: none;
}

div#layout-top div.top-menu div.normal-menu {
	float: left;
	line-height: 35px;
}

div#layout-top div.top-menu div.dropdown-menu {
	float: left;
	margin-right: 5px;
	padding: 0 5px;
	height: 29px;
	padding-top: 10px;
	padding-left: 0px;
}

ul#sitelinksnav {
	margin: 0;
	padding: 0;
	list-style: none;
}

div#layout-top div.right-box {
	float: right;
	width: 400px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div#layout-top div.right-box div.top-search {
	float: right;
	padding-top: 2px;
}

div#layout-top div.right-box div.top-search div.input-search {
	float: left;
}

.button-search {
	padding-left: 3px;
	float: left;
	height: 22px;
	width: 22px;
}

div.layout-header1 {
	margin-bottom: 10px;
	border: 1px solid #CFCFCF;
	padding: 10px;
	text-align: center;
	background: url(../template/images/ad_tab.gif) bottom right no-repeat;
	min-height: 60px;
    display: none;
}

div.layout-header2 {
	height: 90px;
	width: 995px;
	margin-bottom: 10px;
	border-top: 5px solid #404041;
	padding-top: 10px;
}

div.layout-header2 div.layout-logo {
	float: left;
}

div.layout-header2 div.layout-logo h1 {
	margin: 0; padding:0;
}

div.layout-header2 div.layout-sologan {
	float: right;
	width: 392px;
	padding-right: 0px;
	height: 125px;
	text-align: center;
}


/** CSS MAIN-MENU **/
nav.main-menu-container {
	clear: both;
	position: relative;
	z-index: 1000;
	width: 995px;
}

nav.main-menu-container ul.megamenu {
	position: relative;
	display: block;
	height: 40px;
	line-height: 20px;
	list-style: none;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 12px;
	background: url('../template/images/navbg1.jpg') top repeat-x #404041;
}

nav.main-menu-container ul.megamenu>li {
	display: list-item;
	float: left;
	text-align: -webkit-match-parent;
	padding: 0;
	margin: 0;
}

nav.main-menu-container ul.megamenu>li>a {
	display: block;
  letter-spacing: 0.1em;
  line-height: 28px;
  position: relative;
  padding: 12px 12px 0;
  z-index: 10;
  border-right: 1px solid #ddf1dc;
  color: #FFF;
  text-decoration: none;
  font-family: BetonEF-Bold,Georgia,"Times New Roman",Times,serif;
  font-size: 12px;
  text-transform: uppercase;
}

nav.main-menu-container ul.megamenu>li>a:hover {
	background: url(../template/images/navbg2.jpg) repeat-x #64c261;
}

nav.main-menu-container ul.megamenu li.active a {
	background: url(../template/images/navbg3.jpg) repeat-x #64c261;
}

ul.megamenu li ul.submenu {
	list-style: none;
	padding: 0;
	margin:0;
	display: none;
}
ul.megamenu li ul.submenu li {

}
ul.megamenu li ul.submenu li a{
	position: relative;
	display: inline-block;
	font-family: BetonEF-Bold,Georgia,"Times New Roman",Times,serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin: 0px;
	width: 100%;
	text-decoration: none;
	z-index: 10;
	padding: 8px 0 0 0;
	border-bottom: 1px solid #6D6E71;
	color: #222;
}

/** CSS Content**/
div.catalog-in-home-left {
	float: left;

}

	/** css hotnews**/
div.hotnews-container {
	/*width: 590px;*/
	width: 805px;
	font-family: arial, helvetica, sans-srif;
	border-bottom: 2px solid #cfcfcf;
}

div.hotnews-container div.title-hotnews {
	height: 30px;
	background: url(../template/images/Latest_Headline.jpg) no-repeat;
	background-position: 10px 5px;
	border-left: 5px solid #5AB4E8;
	border-bottom: 1px solid #CFCFCF;
	line-height: 30px;
	padding-left: 35px;
	margin-bottom: 20px;
	margin-top: 10px;
}
div.title-hotnews span.text a {
	font-size: 16px;
	font-weight: bold;
	color: #404041;
	text-decoration: none;
}

div.title-hotnews span.text a:hover {
	text-decoration: underline;
}

div.title-hotnews span.button-more a {
	float: right;
	font-size: 10px;
	text-decoration: none;
	font-weight: normal;
	padding: 0px 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #5ab4e8;
	color: #FFF;
	line-height: 20px;
	text-align: center;
	margin-top: 5px;
	margin-right: 10px;
}

div.title-hotnews span.button-more a:hover, div.title-hotnews span.button-more a:active {
	color: #FFF;
	background: #404041;
	text-decoration: none;
	font-weight: normal;
}

div.hotnews-container div.content-hotnews div.images-hotnews{
	float: left;
	width: 280px;
	margin-left: 5px;
	padding: 0 0px;
    display:none;
}
div.hotnews-container div.content-hotnews div.images-hotnews.active {
	display: block;
}
div.hotnews-container div.content-hotnews div.text-hotnews {
	float: left;
	width: 295px;
	margin-right: 0px;
	padding: 0 0px;
}
div.hotnews-container div.content-hotnews div.text-hotnews div.text-item {
	border-bottom: 1px solid #CFCFCF;
	padding-bottom: 10px;
	margin-bottom: 2px;
	padding-left: 7px;
}
div.hotnews-container div.content-hotnews div.text-hotnews div.text-item.active {
	border-left: 9px solid #5AB4E8;
}

div.hotnews-container div.content-hotnews div.text-hotnews div.text-item.active {
	border-left: 9px solid #5AB4E8;
}

div.content-hotnews div.text-hotnews div.text-item span.title-link {
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	color: #333;
	margin: 0;
	padding-bottom: 5px;
}
div.content-hotnews div.text-hotnews div.text-item span.title-link a {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}


div.content-hotnews div.text-hotnews div.text-item p {
	font-size: 12px;
	line-height: 17px;
	color: #A7A9AC;
	margin: 0;
}

div.content-hotnews div.text-hotnews div.text-item p a {
	color: #6D6E71;
	font-size: 12px;
	text-decoration: none;
}

div.column1, div.column2 {
	float: left;
	width: 328px;;
	margin-right: 5px;
	padding: 0 5px;
}

/** css LIST ARTICLE**/
div.container-list {
	font-family: arial, helvetica, sans-serif;
	float: left;

	margin-bottom: 10px;
}

div.container-list div.title-list {
	border-bottom: 1px solid #cfcfcf;
	border-left: 5px solid #0E884E;
	padding-left: 35px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 10px 0;
	background: url(../template/images/Industry_News.jpg) no-repeat 10px center;
}

div.container-list div.title-list span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

div.container-list div.title-list span.text a:hover {
	text-decoration: underline;
}

div.container-list div.title-list span.button-more a {
	background: #0E884E;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	float: right;
}

div.container-list div.title-list span.button-more a:hover {
	text-decoration: underline;
}

div.container-list div.content-list p {
	margin: 0;
	padding: 10px 0 10px 0;
}

div.container-list div.content-list p.item-list a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #333;

}

div.container-list div.content-list p.item-list a:hover {
	text-decoration: none;
	color: #c00;
}

div.container-list div.content-list p.item-list span {
	display: block;
	font-size: 11px;
	color: #5DB1E3;
}

/** list article + descrtiption**/
div.container-list-des {
	font-family: arial, helvetica, sans-serif;
	float: left;
	margin-bottom: 10px;
}

div.container-list-des div.title-list {
	border-bottom: 1px solid #cfcfcf;
	border-left: 5px solid #0E884E;
	padding-left: 35px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 10px 0;
	background: url(../template/images/Industry_News.jpg) no-repeat 10px center;
}

div.container-list-des div.title-list span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #333;
}

div.container-list-des div.title-list span.text a:hover {
	text-decoration: underline;
}

div.container-list-des div.title-list span.button-more a {
	background: #0E884E;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	float: right;
}

div.container-list-des div.title-list span.button-more a:hover {
	text-decoration: underline;
}

div.container-list-des div.content-list div.item-list {
	margin: 0;
	padding: 10px 0 10px 0;
	text-align: justify;
}

div.container-list-des div.content-list div.item-list div.description {
    color: #6D6E71;
    font-size: 12px;
    text-decoration: none;
}

div.container-list-des div.content-list div.item-list a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #333;

}

div.container-list-des div.content-list div.item-list a:hover {
	text-decoration: none;
	color: #c00;
}

div.container-list-des div.content-list div.item-list span {
	display: block;
	font-size: 11px;
	color: #5DB1E3;
	padding: 5px 0;
	margin: 5px 0;
	border-bottom: 1px solid #d2d2d2;
	border-top: 1px solid #d2d2d2;
}

div.container-list div.content-list div.item-list div.description {
	font-size: 12px;
	line-height: 17px;
	color: #A7A9AC;
	margin: 0;
}

/** CSS BOOK**/
div.container-list {
	font-family: arial, helvetica, sans-serif;
	float: left;
	margin-bottom: 10px;
}

div.container-list div.images-des {
	border-bottom: 1px solid #cfcfcf;
	border-left: 5px solid #94B32A;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 20px 0;
	background: none;
}

div.container-list div.images-des span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #94B32A;
}

div.container-list div.images-des span.text a:hover {
	text-decoration: underline;
}

div.container-list div.images-des span.button-more a {
	background: #94B32A;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	float: right;
}

div.container-list div.images-des span.button-more a:hover {
	text-decoration: underline;
}
div.right-box h3.title-text {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	color: #333;
	margin: 0;
	padding-bottom: 5px;
}
div.right-box h3.title-text a:link, div.right-box h3.title-text a:visited{
	color: #333;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

div.right-box p.text {
	font-size: 12px;
	line-height: 17px;
	color: #A7A9AC;
	margin: 0;
}

div.right-box p.text a:link, div.right-box p.text a:visited {
	color: #6D6E71;
	font-size: 12px;
	text-decoration: none;
}

/** CSS box title + image**/
div.container-list div.images-title {
	border-bottom: 1px solid #cfcfcf;
	border-left: 5px solid #990;
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 20px 0;
	background: none;
}

div.container-list div.images-title span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #990;
}

div.container-list div.title-list span.text a:hover {
	text-decoration: underline;
}

div.container-list div.images-title span.button-more a {
	background: #990;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	float: right;
}

div.container-list div.title-list span.button-more a:hover {
	text-decoration: underline;
}

/** COLUMN 3**/
div.catalog-in-home-center {
	float: left;
	padding: 0 5px;
}

div.container-list div.homeevents {
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	border-left: 5px solid #BCBDC0;
	border-bottom: 1px solid #CFCFCF;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #404041;
	background: none;
}

div.container-list div.title-list span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #990;
}

div.container-list div.title-list span.text a:hover {
	text-decoration: underline;
}
div.content-homeevents div.images a {
	float: left;
	display: block;
	visibility: visible;
}

div.content-homeevents div.images a img {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CFCFCF;
	height: 101px;
	width: 220px;
}

/** column sponsor**/
div.catalog-in-home-right {
	float: left;
	width: 155px;
	padding: 0 5px;
}

div.container-list {
	font-family: arial, helvetica, sans-serif;
	float: left;
	margin-bottom: 10px;
	width:100%;
}

div.container-list-col2 {
	font-family: arial, helvetica, sans-serif;
	float: left;
	margin-bottom: 10px;
	width:220px;
}

div.container-list-col2 div.homeevents {
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	border-left: 5px solid #BCBDC0;
	border-bottom: 1px solid #CFCFCF;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #404041;
}

div.container-list-col3 div.linkweb {
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	border-left: 5px solid #BCBDC0;
	border-bottom: 1px solid #CFCFCF;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #404041;
}

div.container-list-col3 div.title-list span.text a, div.container-list-col3 div.title-list span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #990;
}

div.container-list-col3 div.title-list span.text a:hover, div.container-list-col3 div.title-list span.text a:hover {
	text-decoration: underline;
}
div.content-linkweb div.images a {
	float: left;
	display: block;
	visibility: visible;
}

div.content-linkweb div.images a img {
	border: none;
	margin-right: 2px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CFCFCF;
	padding-bottom: 10px;
	/*height: 66px;*/
	width: 155px;
}

/** PARTNER CSS**/
div.container-list-partner div.partner {
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	border-left: 5px solid #BCBDC0;
	border-bottom: 1px solid #CFCFCF;
	line-height: 30px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #404041;
	background: none;
}

div.content-partner div.partner-item>a {
	font-size: 11px;
	display: block;
	color: #A7A9AC;
	text-decoration: none;
	line-height: 35px;
	border-bottom: 1px solid #CFCFCF;
	font-weight: bold;
}

div.content-partner div.partner-item div.partner-logo {
	position: absolute;
	display: none;
	margin-left: 144px;
	margin-top: -30px;
	width: 155px;
	visibility: visible;
}

div.content-partner div.partner-item div.partner-logo a {
	border: 0;
	visibility: visible;
	padding: 0;
	display: inline;
}

/** FOOTER**/
div#footer {
	border-top: 2px solid #CFCFCF;
	padding: 20px 0;
	width: 995px;
	margin-top: 30px;
}

div#footer div.bottomsponsor {
	margin-bottom: 20px;
	border: 1px solid #CFCFCF;
	padding: 10px;
	text-align: center;
	background: url(../template/images/ad_tab.gif) bottom right no-repeat;
}

div.footerLinksBorder {
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	width: 995px;
	padding: 20px 0;
	margin-bottom: 20px;
}

div.footerLinks {
	width: 995px;
	border-top: 10px solid #6D6E71;
	background: #404041;
	padding: 0px;
	height: 200px;
}

div.footerLinkCol {
	border-right: 1px solid #6D6E71;
	float: left;
	width: 116px;
	padding-left: 7px;
	height: 200px;
}
div.footerLinkCol h4 {
	color: #FFF;
	padding: 7px 0 7px 0;
	margin: 0;
	font-size: 16px;
}
div.footerLinkCol h4 a{
	text-decoration: none;
	color: #FFF;
	padding: 7px 0 7px 0;
	margin: 0;
	font-size: 16px;
}

div.footerLinkCol ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.footerLinkCol li {
	margin: 0;
	padding: 0;
}

div.footerLinkCol li a:link, div.footerLinkCol li a:visited {
	color: #FFF;
	text-decoration: none;
	font-size: 11px;
}
div.footerLinkCol li a:hover {
	color: #CEBF94;
	text-decoration: none;
}

div.footerLogoTerms {
	color: #6D6E71;
	font-size: 11px;
}

div.footerLogoTerms img {
	float: left;
	padding-right: 20px;
}

div.footerLogoTerms a:link, div.footerLogoTerms a:visited {
	color: #6D6E71;
	text-decoration: none;
}
div.footerLogoTerms a:hover, div.footerLogoTerms a:active {
	color: #CEBF94;
	text-decoration: none;
}

div.container-list div#feature_atc {
	border-bottom: 1px solid #cfcfcf;
	border-left: 5px solid #E74C3C;
	padding-left: 35px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 10px 0;
	background: url(../template/images/Featured_Articles.jpg) no-repeat 10px center;
}

div.container-list div#feature_atc span.button-more a {
	background: #C0392B;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	float: right;
}

div.container-list div#prd_title {
	border-bottom: 1px solid #cfcfcf;
	border-left: 5px solid #F1C40F;
	padding-left: 35px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 10px 0;
	background: url(../template/images/product.png) no-repeat 10px center;
}

div.container-list div#prd_title span.button-more a {
	background: #F39C12;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	float: right;
}

div.container-list div#thuy_title {
	border-bottom: 1px solid #cfcfcf;
	border-left: 5px solid #F1C40F;
	padding-left: 35px;
	height: 30px;
	line-height: 30px;
	margin: 10px 0 10px 0;
	background: url(../template/images/thuy_icon.png) no-repeat 10px center;
	clear: both;
}


div.container-list div#thuy_title span.button-more a {
	background: #0000ff;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 10px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	float: right;
}

div.container-list div#prd_title span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #F39C12;
}

div.container-list div#feature_atc span.text a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #C0392B;
}
.on_our{
	width: 590px;
	overflow: hidden;
	clear: both;
	font-size: 12px;
}
.col_on_1{
	width: 22%;
	float: left;
	margin-right: 4%;
}
.col_on_1:last-child{
	margin: 0;
}
.titleMeat {
   height: 30px;
   font-size: 16px;
   font-weight: bold;
   border-left: 5px solid #B50000;
   border-bottom: 1px solid #B50000;
   line-height: 30px;
   margin-bottom: 20px;
   margin-top: 10px;
   text-indent: 10px;
}
.titleMeat a{
	color: #B50000;
}
.titlePig {
   height: 30px;
   font-size: 16px;
   font-weight: bold;
   border-left: 5px solid #022F0E;
   border-bottom: 1px solid #022F0E;
   line-height: 30px;
   margin-bottom: 20px;
   margin-top: 10px;
   text-indent: 10px;
}
.titlePig a{
	color: #022F0E;
}
.titleCattle {
   height: 30px;
   font-size: 16px;
   font-weight: bold;
   border-left: 5px solid #461618;
   border-bottom: 1px solid #461618;
   line-height: 30px;
   margin-bottom: 20px;
   margin-top: 10px;
   color: #461618;
   text-indent: 10px;
}
.titleCattle a{
	color: #461618;
}
.titleCrop {
   height: 30px;
   font-size: 16px;
   font-weight: bold;
   border-left: 5px solid #67A644;
   border-bottom: 1px solid #67A644;
   line-height: 30px;
   margin-bottom: 20px;
   margin-top: 10px;
   color: #67A644;
   text-indent: 10px;
}
.titleCrop a{
	color: #67A644;
}
.on_our a{
	text-decoration: none;
}

.video-container {
	position:relative;
	padding-bottom:69.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

 .qs_title, .aswr_title {
                                                background: #ececec;
                                                height: 28px;
                                                border-radius: 3px;
                                                line-height: 28px;
                                            }

                                            .qs_title h3, .aswr_title h3 {
                                                font-size: 13px;
                                                color: #272727;
                                                font-weight: normal;
                                                margin-left: 10px;
                                            }

                                            .qs_title h3 span, .aswr_title h3 span {
                                                color: #0677c5;
                                                font-weight: bold;
                                            }

                                            .qs_content, .aswr_content {
                                                border: #ccc 1px solid;
                                                position: relative;
                                                padding: 13px;
                                                margin-bottom: 35px;
                                                border-radius: 5px;
                                                margin-top: 15px;
                                                font-size: 12px;
                                            }

                                            .qs_content .story_thumb, .aswr_content .story_thumb {
                                                float: left;
                                            }

                                            .qs_content .story_right, .aswr_content .story_right {
                                                float: right;
                                                width: 100%;
                                                line-height: 17px;
                                                color: #333;
                                            }

                                            .arrow_bt {
                                                width: 13px;
                                                height: 8px;
                                                background: url(../template/images/arrow_bt.png) no-repeat;
                                                position: absolute;
                                                left: 50px;
                                                top: 100%;
                                            }

                                            .qs_content .story_time, .aswr_content .story_time {
                                                margin-top: 3px;
                                            }

                                            .qs_content .story_time span, .aswr_content .story_time {
                                                font-size: 11px;
                                                color: #666666;
                                            }