@charset "utf-8";
/* 
	CSS Document
	Designed by WEB123.VN
	Công ty CP Truyền thông Phú An Bình
	Contact information: 
		Tel:     04.667.41255 
		Hotline: 0904.922.316
		EmaiL:   sale@web123.vn
*/


.catalog-in-home{float:left;width:100%;}
.catalog-in-home-left{float:left;}
.catalog-in-home-center{float:left;width:auto;}
.catalog-in-home-right{float:right}

.catalog-home-1{float:left;width:333px;padding:2px;margin:0 0 0 60px;background:#fff;border:1px solid #CCCCCC;}
.catalog-home-1 .catalog-home-image{float:left;width:147px;height:99px;margin:0;overflow: hidden;}
.catalog-home-1 .catalog-home-image img{width:147px;min-height:99px;}
.catalog-home-1 .catalog-home-title{float:right;width:160px;margin:7px 10px 0 0;text-align: right;}
.catalog-home-1 .catalog-home-title a{text-decoration:none;color:#003563;text-transform: uppercase;;}
.catalog-home-1 .catalog-home-description{float:right;width:160px;margin:5px 10px 0 0;font-size: 12px;color:#191919;line-height: 15px;max-height:59px;overflow: hidden;}



