@charset "utf-8";
/* 
	CSS Document
	Designed by WEB123.VN
	Công ty CP Truyền thông Phú An Bình
	Contact information: 
		Tel:     84 - 4.667 41255 
		Hotline: 84-904 921 540
		EmaiL:   sale@web123.vn
*/
.select_style1{float:left;border:1px solid #B2B2B2;padding:3px 8px;cursor:pointer;position:relative;background-color:#ffffff;}
.select_style1 .current_value{display:block;background:url(../images/arrow_down.png) right center no-repeat;padding:0 20px 0 0;margin:0 0 0 -1px;}
.select_style1 .root{list-style:none;position:absolute;margin:0;padding:0 0 3px 0;display:none;top:19px;left:-1px;border:1px solid #B2B2B2;float:left;background:#ffffff;z-index:500;max-height:140px;overflow:auto;float:left;width:100%;}
.select_style1 .root li{float:left;padding:3px 0 4px 0;width:100%;}
.select_style1 .root li span{float:left;padding:0 3px;}
.select_style1 .root li.selected{background:#316AC5;color:#ffffff;}
.select_style1 .root li:hover{background:#6e9ae0;color:#ffffff;}

.select_style2{float:left;border:1px solid #d1d1d1;padding:2px 2px 2px 9px;cursor:pointer;position:relative;background:#ffffff;width:212px;height:15px;}
.select_style2 .current_value{display:block;background:url(../images/arrow_down2.png) right center no-repeat;padding:0 20px 0 0;margin:0 0 0 -1px;color:#000000;}
.select_style2 .root{list-style:none;position:absolute;margin:0;padding:0 0 3px 0;display:none;top:19px;left:-1px;float:left;background:#ffffff;z-index:500;max-height:140px;overflow:auto;float:left;width:100%;border:1px solid #d1d1d1;}
.select_style2 .root li{float:left;padding:3px 0 4px 0;width:100%;color:#000000;}
.select_style2 .root li span{float:left;padding:0 9px;}
.select_style2 .root li:hover{background:#79a7f1;color:#ffffff;}
.select_style2 .root li.selected{background:#316AC5;color:#ffffff;}

.select_style3 {float:left;border:1px solid #d1d1d1;padding:2px 2px 2px 5px;cursor:pointer;position:relative;background:#ffffff;width:102px;height:15px;}
.select_style3 .current_value{display:block;background:url(../images/arrow_down2.png) right center no-repeat;padding:0 20px 0 0;margin:0 0 0 -1px;color:#000000;}
.select_style3 .root{list-style:none;position:absolute;margin:0;padding:0 0 3px 0;display:none;top:19px;left:-1px;float:left;background:#ffffff;z-index:500;max-height:140px;overflow:auto;float:left;width:100%;border:1px solid #d1d1d1;}
.select_style3 .root li{float:left;padding:3px 0 4px 0;width:100%;color:#000000;}
.select_style3 .root li span{float:left;padding:0 9px;}
.select_style3 .root li:hover{background:#79a7f1;color:#ffffff;}
.select_style3 .root li.selected{background:#316AC5;color:#ffffff;}

.select_style4{float:left;border:0;padding:0px 0px 0px 10px;cursor:pointer;position:relative;background:#ffffff;border:1px solid #98B1BA;border-radius:3px;}
.select_style4 .current_value{display:block;background:url(../images/arrow_down4.png) right top no-repeat;padding:4px 28px 4px 0;margin:0 0 0 -1px;color:#333333;overflow:hidden;border-radius:0 2px 2px 0;}
.select_style4 .root{list-style:none;position:absolute;margin:0;padding:0 0 3px 0;display:none;top:23px;left:-1px;border:1px solid #98B1BA;float:left;background:#ffffff;z-index:500;max-height:350px;overflow-y:auto;overflow-x:hidden;float:left;width:100%;}
.select_style4 .root li{float:left;padding:5px 0 6px 0;width:100%;}
.select_style4 .root li span{float:left;padding:0 10px;}
.select_style4 .root li.selected{background:#316AC5;color:#ffffff;}
.select_style4 .root li:hover{background:#79a7f1;color:#ffffff;}

.select_style5{float:left;border:1px solid #F68C1C;padding:2px 1px 2px 5px;cursor:pointer;position:relative;color:#7A6666;background:#ffffff;}
.select_style5 .current_value{display:block;background:url(../images/arrow_down5.png) right center no-repeat;padding:0 30px 0 10px;margin:0 0 0 -1px;white-space:nowrap;}
.select_style5 .root{list-style:none;position:absolute;margin:0;padding:0 0 3px 0;display:none;top:19px;left:-1px;border:1px solid #F68C1C;float:left;background:#ffffff;z-index:500;max-height:140px;overflow:auto;float:left;width:100%;}
.select_style5 .root li{float:left;padding:3px 0 4px 0;width:100%;}
.select_style5 .root li span{float:left;padding:0 14px;}
.select_style5 .root li.selected{background:#316AC5;color:#ffffff;}

.select_style6{float:left;border:0;padding:0px 0px 0px 15px;cursor:pointer;position:relative;background:#FEFEFE;border:1px solid #D6D6D6;}
.select_style6 .current_value{display:block;background:url(../images/arrow_down6.png) right center no-repeat;padding:5px 30px 5px 0;margin:0 0 0 -1px;color:#333333;}
.select_style6 .root{list-style:none;position:absolute;margin:0;padding:0 0 3px 0;display:none;top:25px;left:-1px;border:1px solid #D6D6D6;float:left;background:#ffffff;z-index:500;max-height:140px;overflow:auto;float:left;width:100%;}
.select_style6 .root li{float:left;padding:3px 0 4px 0;width:100%;}
.select_style6 .root li span{float:left;padding:0 15px;}
.select_style6 .root li.selected{background:#316AC5;color:#ffffff;}

.checkbox_style1{float:left;font-family:Arial, Helvetica, sans-serif;color:#111111;font-size:11px;cursor:pointer;}
.checkbox_style1 .radio{float:left;margin:2px 0;}
.checkbox_style1 .radio .on{background:url(../images/check_active.png) left top no-repeat;float:left;width:10px;height:10px;}
.checkbox_style1 .radio .off{background:url(../images/check_deactive.png) left top no-repeat;float:left;width:10px;height:10px;}
.checkbox_style1 .text{float:left;margin:0 0 0 4px;}


.radio_style2{float:left;font-family:Arial, Helvetica, sans-serif;color:#222222;font-size:13px;}
.radio_style2 .root{list-style:none;float:left;margin:0;padding:0;}
.radio_style2 .root li{float:left;padding:0;margin:0 12px 5px 0;cursor:pointer;}
.radio_style2 .root li .radio{background:url(../images/radio_deactive2.png) left top no-repeat;float:left;width:11px;height:11px;float:left;margin:2px 0;}
.radio_style2 .root li.active .radio{background:url(../images/radio_active2.png) left top no-repeat;float:left;width:11px;height:11px;float:left;margin:2px 0;}
.radio_style2 .root li:hover .radio{background:url(../images/radio_hover2.png) left top no-repeat;float:left;width:11px;height:11px;float:left;margin:2px 0;}
.radio_style2 .root li.active:hover .radio{background:url(../images/radio_active2.png) left top no-repeat;float:left;width:11px;height:11px;float:left;margin:2px 0;}
.radio_style2 .text{float:left;margin:0 0 0 4px;}