@media (min-width: 995px){
	.menu_toggle{
		display: none;
	}
}
@media (min-width: 440px) and (max-width: 994px){
	.sub-menu{
		position:static !important;
		display: block;
		width: 100%;
		/*height: 40px;
		line-height: 40px;*/
	}
	li.m-home{
		display: none !important;
	}
	nav.main-menu-container ul.megamenu{
		background: #404041;
	}
	body{
		width: 100% !important;
	}
	.main-menu-listing{
		display: none;
	}
	#wrap-content-auto{
		width: 100%;
		box-sizing: border-box;
	}
	.wrap-header-auto{
		width: 100%;
	}
	div#layout-top{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	div#layout-top div.right-box{
		width: 50%;
		float: right;
	}
	div#layout-top div.right-box div.top-search {
		float: right;
		padding-bottom: 10px;
		margin-left: 10px;
	}
	div.layout-header2{
		width: 100%;
	}
	div.layout-header2 img{
		width: 100%;
	}
	nav.main-menu-container{
		width: 100%;
		margin-bottom: 10px;
	}
	nav.main-menu-container ul.megamenu{
		height: auto;
		overflow: hidden;
	}
	nav.main-menu-container ul.megamenu>li{
		float: none;
		text-align: center;
	}
	nav.main-menu-container ul.megamenu>li>a{
		line-height: 30px;
	}
	div.layout-header2 div.layout-sologan{
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	div.layout-header2 div.layout-sologan img{
		width: 100%;
	}
	div.hotnews-container{
		width: 100%;
	}
	div.hotnews-container div.content-hotnews div.text-hotnews div.text-item{
		margin: 10px 0;
		width: 47%;
    	float: left;
	}
	div.container-list div.content-list p{
		width: 48%;
	   margin: 0px;
	   padding: 10px 0 10px 0;
	   float: left;
	   margin-right: 1%;
	}
	div.column1, div.column2{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div.hotnews-container div.content-hotnews div.text-hotnews{
		width: 100%;
	}
	.wrap-middle-auto{
		margin-top: 10px;
	}
	div.hotnews-container div.content-hotnews div.images-hotnews{
		width: 100%;
	}
	div.hotnews-container div.content-hotnews div.images-hotnews img{
		width: auto !important;
	   text-align: center;
	   margin: 0 auto;
	   display: block;
	}
	div.container-list-des div.content-list div.item-list{
		margin: 0px;
    	padding: 10px 0 10px 0;
    	text-align: justify;
    	width: 48%;
    	float: left;
    	margin-right: 1%;
	}

	div.catalog-in-home-center{
		width: 100%;
		box-sizing: border-box;
		padding: 0;
	}
	div.container-list-col2{
		width: 100%;
	}
	div.catalog-in-home-right{
		width: 100%;
		box-sizing: border-box;
		padding: 0;
	}
	div.content-linkweb div.images a img{
		width: 100% ;
		height: auto ;
	}
	div.content-linkweb div.images{
		width: 48%;
		float: left;
		margin-right: 1%;
		max-height: 510px;
		overflow: hidden;
	}
	.partner-item{
		width: 48%;
		float: left;
		margin-right: 1%;
	}
	#wrap-bottom-container{
		height: auto;
	}
	.wrap-bottom-auto{
		width: 100%;
	}
	div.footerLinksBorder{
		width: 100%;
		padding: 0;

	}
	div.footerLinks{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	div.footerLinkCol{
		width: 15%;
		height: auto;
		margin-bottom: 10px;
		border: none;
		padding-left: 10px;
	}
	div.footerLogoTerms{
		overflow: hidden;
    	float: left;
	}
	div.footerLogoTerms img{
		width: 50%;
	}
	.feature_video{
		border: 1px solid #222;
   	width: 48%;
   	margin-right: 1%;
   	float: left;
	}
	.feature_video iframe{
		width: 100% !important;
	}
	div.item-article{
		width: 50%;
		float: left;
	}
	div#deverloper{
		overflow: hidden;
   	float: left;
   	width: 100%;
	}
	div.list-article-container{
		width: 100% ;
		margin: 0 ;
		padding: 0 ;
	}
	.catalog_page{
		clear: both;
   	padding-top: 10px;
	}
	div.fullpage{
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	div.catalog-in-home-left{
		width: 100%;
	}
	div.fullpage div.events-title div{
		width: 100% !important;
	}
	div.fullpage div.events-whenbar{
		width: 100% !important;
		box-sizing: border-box;
		padding-left: 10px !important;
	}
	nav.main-menu-container ul.megamenu li.active a{
		background: #ccc;
	}
	div.fullpage div.events-detail{
		padding: 10px !important;
	}
	div#techContainer{
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	div.headerImageTech{
		width: 100%;
		height: auto;
	}
	div.headerImageTech img{
		width: 100%;
	}
	div.tech-twocolumn{
		width: 100%;
		padding: 0;
	}
	div.techIntro {
		width: 100%;
		margin: 0;
	}
	div.techImage{
		width: 100%;
	}
	div.techImage img {
		width: 50%;
	   padding-top: 10px;
	   margin: 0 auto;
	   display: block;
	}
	div.techImg{
		width: 48%;
    	margin-right: 2%;
    	margin-bottom: 10px;
    	float: left;
    	padding-top: 0;
	}
	div.techImg img{
		width: 100%;
	}
	div.techText{
		width: 50%;
    	margin-bottom: 0;
	}
	div.tech-onecolumn{
		width: 100%;
	}
	div.gallery-auto {
		width: 100%;
		margin: 0;
	}
	div.item-image-box{
		width: 48%;
    	height: auto;
    	margin: 0 0 20px 0;
    	border: 0;
    	margin-right: 1%;
	}
	div#intro_container div.intro_content div.intro_col1{
		padding-top: 20px;
	}
	div.item-image-box .image-gallery iframe{
		width: 100% !important;
		height:100% !important;
	}
	div#intro_container{
		width: 100%;
	}
	div#intro_container img{
		max-width: 100%;
    	margin: 10px 0;
    	height: auto !important;
	}
	.intro_maps iframe{
		width: 100% !important;
		height: 300px !important
	}
	#commentInput{
		width: 100%;
	}
	table#tbl_sendmeaqs{
		width: 100% !important;
	}
	.input_style input{
		width: 70%;
	}
	table#tbl_sendmeaqs td.c-col1{
		font-size: 13px;
    	width: 150px;
    	text-align: right;
    	padding-right: 20px;
	}
	#info-company{
		width: 80%;
	}
	#map-info iframe{
		width: 100% !important;
		height: 300px !important;
	}
	div.image-gallery img{
		width: 100%;
		height: auto;
	}
	div.articles1{
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	div.articles1 img{
		width: auto !important;
	   margin: 0 auto;
	   text-align: center;
	   display: block;
	}
	.social-share{
		display: none;
	}
	div.articlestop{
		width: 100%;
	}
	div.articlestop img{
		width: auto !important;
	   float: none !important;
	   height: auto;
	   margin: 0 auto;
	   display: inline-block;
	}
	.related-news{
		overflow: hidden;
	}
	div.relatednews-item{
		width: 48%;
		float: left;
		margin-right: 1%;
	}
	span#titlebottom{
		margin-top: 10px;
		display: block;
		overflow: hidden;
		float: left;
		position:static !important;
		display: none;
	}
	div.articlestop{
		text-align: center;
	}
	p.description{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.bottom-social-share{
		display: none;
	}
	div.links-container ul.ul_container{
		margin-left: 0;
	}
	div.column3{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div.detail-article p{
		width: 100%;
		margin: 0;
		padding-right: 0;
	}
	div.detail-daily-container{
		width: 100%;
		padding: 0px;
	}
	div.detail-daily-container img{
		width: 100% !important;
	}
	span.name-daily{
		position: static;
	}
	.catalog-listing-41-auto{
		width: 100%;
	}
	.catalog-listing-41-content .catalog-listing-right{
		width: 100%;
	}
	.catalog-listing-41-content .transaction-table{
		display: none;
	}
	div.story-product-1{
		width: 100%;
	}
	div.story-product-1 div.story-thumb a img{
		width: 100%;
	}
	.on_our{
		width: 100%;
	}
	.col_on_1{
		width: 46%;
		float: left;
	}
}
@media (max-width: 440px){
	body{
		width: 100% !important;
	}
	#wrap-content-auto{
		width: 100%;
		box-sizing: border-box;
	}
	.wrap-header-auto{
		width: 100%;
	}
	div#layout-top{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	div#layout-top div.right-box{
		width: 100%;
		float: left;
	}
	div#layout-top div.right-box div.top-search {
		float: left;
		padding-bottom: 10px;
		margin-left: 10px;
	}
	div.layout-header2{
		width: 100%;
	}
	div.layout-header2 img{
		width: 100%;
	}
	nav.main-menu-container{
		width: 100%;
		margin-bottom: 10px;
	}
	nav.main-menu-container ul.megamenu{
		height: auto;
		overflow: hidden;
	}
	nav.main-menu-container ul.megamenu>li{
		float: none;
		height: auto;
	}
	nav.main-menu-container ul.megamenu>li>a{
		line-height: 30px;
		    text-align: center;
	}
	div.layout-header2 div.layout-sologan{
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	div.layout-header2 div.layout-sologan img{
		width: 100%;
	}
	div.hotnews-container{
		width: 100%;
	}
	div.hotnews-container div.content-hotnews div.text-hotnews div.text-item{
		margin: 10px 0;
	}
	div.column1, div.column2{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div.hotnews-container div.content-hotnews div.text-hotnews{
		width: 100%;
	}
	.wrap-middle-auto{
		margin-top: 10px;
	}
	div.hotnews-container div.content-hotnews div.images-hotnews{
		width: 100%;
	}
	div.hotnews-container div.content-hotnews div.images-hotnews img{
		width: 100% !important;
	}
	div.catalog-in-home-center{
		width: 100%;
		box-sizing: border-box;
		padding: 0;
	}
	div.container-list-col2{
		width: 100%;
	}
	div.catalog-in-home-right{
		width: 100%;
		box-sizing: border-box;
		padding: 0;
	}
	div.content-linkweb div.images a img{
		width: 100% ;
		height: auto ;
	}
	#wrap-bottom-container{
		height: auto;
	}
	.wrap-bottom-auto{
		width: 100%;
	}
	div.footerLinksBorder{
		width: 100%;
		padding: 0;

	}
	div.footerLinks{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	div.footerLinkCol{
		width: 45%;
		height: auto;
		margin-bottom: 10px;
		border: none;
		padding-left: 10px;
	}
	div.footerLogoTerms{
		overflow: hidden;
    	float: left;
	}
	div.footerLogoTerms img{
		width: 100%;
	}
	div#deverloper{
		overflow: hidden;
   	float: left;
   	width: 100%;
	}
	div.list-article-container{
		width: 100% ;
		margin: 0 ;
		padding: 0 ;
	}
	.catalog_page{
		clear: both;
   	padding-top: 10px;
	}
	div.fullpage{
		width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	div.catalog-in-home-left{
		width: 100%;
	}
	div.fullpage div.events-title div{
		width: 100% !important;
	}
	div.fullpage div.events-whenbar{
		width: 100% !important;
		box-sizing: border-box;
		padding-left: 10px !important;
	}
	div.fullpage div.events-detail{
		padding: 10px !important;
	}
	div#techContainer{
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	div.headerImageTech{
		width: 100%;
		height: auto;
	}
	div.headerImageTech img{
		width: 100%;
	}
	div.tech-twocolumn{
		width: 100%;
		padding: 0;
	}
	div.techIntro {
		width: 100%;
		margin: 0;
	}
	div.techImage{
		width: 100%;
	}
	div.techImage img {
		width: 100%;
		padding-top: 10px;
	}
	div.techImg{
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	div.techImg img{
		width: 100%;
	}
	div.techText{
		width: 100%;
		margin-bottom: 0;
	}
	div.tech-onecolumn{
		width: 100%;
	}
	div.gallery-auto {
		width: 100%;
		margin: 0;
	}
	div.item-image-box{
		width: 100%;
		height: auto;
		margin: 0 0 20px 0;
		border: 0;
	}
	div.item-image-box .image-gallery iframe{
		width: 100% !important;
		height:100% !important;
	}
	div#intro_container{
		width: 100%;
	}
	div#intro_container img{
		width: 100% !important;
		margin:10px 0;
		height: auto !important;
	}
	.intro_maps iframe{
		width: 100% !important;
		height: 300px !important
	}
	#commentInput{
		width: 100%;
	}
	table#tbl_sendmeaqs{
		width: 100% !important;
	}
	.input_style input{
		width: 70%;
	}
	table#tbl_sendmeaqs td.c-col1{
		font-size: 13px;
		width: 70px;
	}
	#info-company{
		width: 100%;
	}
	#map-info iframe{
		width: 100% !important;
		height: 300px !important;
	}
	div.image-gallery img{
		width: 100%;
		height: auto;
	}
	div.articles1{
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	div.articles1 img{
		width: 100% !important;
	}
	.social-share{
		display: block;
	}
	div.articlestop{
		width: 100%;
	}
	div.articlestop img{
		width: 100% !important;
		margin: 0 !important;
		padding:0 !important;
	}
	span#titlebottom{
		margin-top: 10px;
		display: block;
		overflow: hidden;
		float: left;
		position:static !important;
	}
	p.description{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.bottom-social-share{
		display: none;
	}
	div.links-container ul.ul_container{
		margin-left: 0;
	}
	div.column3{
		width: 100%;
		margin: 0;
		padding: 0;
	}
	div.detail-article p{
		width: 100%;
		margin: 0;
		padding-right: 0;
	}
	div.detail-daily-container{
		width: 100%;
		padding: 0px;
	}
	div.detail-daily-container img{
		width: 100% !important;
	}
	span.name-daily{
		position: static;
	}
	.catalog-listing-41-auto{
		width: 100%;
	}
	.catalog-listing-41-content .catalog-listing-right{
		width: 100%;
	}
	.catalog-listing-41-content .transaction-table{
		display: none;
	}
	div.story-product-1{
		width: 100%;
	}
	div.story-product-1 div.story-thumb a img{
		width: 100%;
	}
	.on_our{
		width: 100%;
	}
	.col_on_1{
		width: 100%;
		float: left;
	}
	nav.main-menu-container ul.megamenu li.active a{
		background: #ccc;
	}
	.main-menu-listing{
		display: none;
	}
	li.m-home{
		display: none !important;
	}
	nav.main-menu-container ul.megamenu{
		background: #404041;
	}
	.sub-menu{
		position:static !important;
		display: block;
		width: 100%;
		/*height: 40px;
		line-height: 40px;*/
	}
	.sub-menu li{
		text-align: center;
	}
}
